<% content_for(:title, "Learn How to Race Bikes") %>

<h1>Lessons</h1>

<ul>
  <% @lessons.each do |lesson| %>
    <a href="/lessons/<%= lesson.lesson_number%>"><li><%= lesson.name %></li></a>
  <% end %>
</ul>

<a href="/admin">Admin Login</a>
