<% content_for(:title, "#{@lesson.name} | Learn How to Race Bikes") %>

<h1><%= @lesson.name %></h1>
<h3>Number: <%= @lesson.number %></h3>
<p><%= @lesson.lesson %></p>

<a href="/">Return to Lessons</a>
